@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

theme {
  /*Font*/
  --font-montserrat: "Montserrat";
  /*colours*/
  --color-primary-1: oklch(75.5%, 25.75%, 280.548%);
  --color-primary-2: oklch(59.2%, 41.25%, 277.752%);

  --color-neutral-very-light-greyish-blue: oklch(97.5%, 2.75%, 286.201%);
  --color-neutral-light-greyish-blue: oklch(77.7%, 6%, 280.475%);
  --color-neutral-greyish-blue: oklch(55.3%, 11.25%, 280.188%);
  --color-neutral-dark-greyish-blue: oklch(42.1%, 8%, 277.912%);
}
