@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

@theme {
  --font-Montserrat: Montserrat;

  --color-primary-1: hsl(236, 72%, 79%);
  --color-primary-2: hsl(237, 63%, 64%);

  --color-neutral-very-light-grayish-blue: hsl(240, 78%, 98%);
  --color-neutral-light-grayish-blue: hsl(234, 14%, 74%);
  --color-neutral-grayish-blue: hsl(233, 13%, 49%);
  --color-neutral-dark-grayish-blue: hsl(232, 13%, 33%);
}
